@import 'base';
@arpa-invalid-choice-background: #ffc8c8;
@arpa-score-input-field-background: #fff;

.arpa {
  #pagebanner {
    transition-property: margin-top;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .content {
    .centered-content();
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;

    .exam-name {
      margin: 15px 0;
    }
    #pageStatus {
      display: none;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    #actionBar {
      .actionButtons {
        position: absolute;
        right: 0;
        top: 0;
        a {
          .action-link();
          margin-left: 10px;
        }
        i {
          .fa-icon();
        }
      }
      .linkDivider {
        color: @text-color;
        margin: 0 10px;
      }
    }

    #scoreTable {
      margin-top: 20px;
      padding: 4px;
      counter-reset: students-counter;

      .scoreTableHeaders th {
        .header3();
        text-align: left;
      }
      .sumHeader {
        padding-left: 6px;
      }
      tr.student {
        td {
          padding: 2px;
        }
        td.studentName {
          max-width: 33%;
          text-align: left;
          counter-increment: students-counter;
          white-space: nowrap;
          &:before {
            content: counter(students-counter) '. ';
            padding-right: 8px;
            text-align: right;
            width: 24px;
            display: inline-block;
          }
        }
        td.totalScore {
          padding-left: 6px;
          color: @score-table-text-color;
        }
      }
    }
  }
  #answers {
    display: none;
    .student {
      margin-bottom: 30px;
      border-top: 1px solid #cccccc;
    }
  }
}

.arpa.gradingSummary {
  .content {
    #gradingInfo {
      margin-top: 30px;
      margin-bottom: 35px;
      button {
        width: auto;
        margin-bottom: 0;
      }
      .printLinkWrapper {
        margin-top: 8px;
        .printAnswerPapersLink {
          margin-right: 20px;
          i {
            .fa-icon();
            padding-right: 6px;
          }
        }
      }
      .emails-sent {
        font-style: italic;
      }
    }
    #scoreTable {
      .scoreTableHeaders {
        th.sumHeader {
          text-align: center;
          padding: 0;
        }
        th.email {
          padding: 0 20px;
        }
      }
      tbody tr:nth-child(odd) {
        background: @background-alternative-color;
      }

      tr.student {
        td.totalScore {
          padding: 0 20px;
        }
        td.email {
          padding: 0 20px;
        }
        .answerPaperLink i {
          .fa-icon();
        }
      }
    }
  }
}

/*** PRINT CSS ***/
@media print {
  body {
    padding: 0;
    font-size: 10pt !important;
    color: #000 !important;
  }
  a,
  button {
    display: none !important;
  }
  h3 {
    font-size: 12pt;
  }
  #scoreTable {
    display: none !important;
  }
  #fixed-pos-wrapper {
    i.fa {
      display: none;
    }
  }
  .arpa.gradingSummary {
    #scoreTable {
      display: block !important;
      page-break-after: auto;
      thead th:nth-child(4) {
        display: none;
      }
      tbody {
        td:nth-child(4) {
          display: none;
        }
        tr:nth-child(odd) {
          background-color: @background-alternative-color !important;
          -webkit-print-color-adjust: exact;
        }
      }
      .answerPaperLink {
        display: inline !important;
        text-decoration: initial;
        color: #000;
      }
      .totalScore {
        color: #000 !important;
      }
      input {
        border: 0;
        font-size: 10pt;
        font-weight: 300 !important;
        background: transparent;
      }
    }
  }

  #gradingInfo {
    display: none;
  }
  #pagebanner {
    display: none;
  }
  #actionBar {
    display: none;
  }
  #pageStatus {
    display: none !important;
  }
  .goBack {
    display: none;
  }
  .footer {
    display: none;
  }
}

.students-own-answerpage-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-content: center;

  h1 {
    margin: 0;
  }
}
